.heading
  background-color: $red
  height: 8rem
  margin: 0
  overflow: auto
  padding: 1rem
  text-align: center
  width: 100%

.home__heading
  color: white
  font-size: 5rem
  margin: 0

.home__info
  margin-left: 5%

.home__facts-title
  font-size: 2.5rem
  font-weight: bolder

.home__facts
  color: $black
  font-size: 2rem
  font-weight: bold
  line-height: 4rem
  margin: 2rem
  width: 50%

.home__image
  float: right
  border: .2rem solid $red
  border-radius: .4rem

.link
  display: inline
  margin-top: 4rem
  margin-right: 2rem

.page__link
  background-color: $red
  color: white
  font-size: 2rem
  font-weight: bold
  height: 5rem
  padding: 1rem
  text-decoration: none
  width: 7rem
