.pantry__form
  align-self: center
  border-bottom: .1rem solid gray
  box-shadow: .2rem .2rem .2rem .2rem #95a5a6
  display: inline-block
  margin-left: 2rem
  margin-top: 2rem


.pantry__input
  border: .2px solid $red
  background-color: white
  color: $black
  height: 3rem
  padding: 1rem
  outline: none
  width: 30rem

.pantry__submit
  border: none
  background-color: $red
  color: white
  font-weight: bolder
  height: 3rem
  text-transform: capitalize
