.pantry__heading
  background-color: $red
  height: 8rem
  margin: 0
  overflow: auto
  padding: 1rem
  text-align: center
  width: 100%

.pantry__title
  color: white
  font-size: 3rem
  float: left
  margin-left: 3rem

.recipes__title
  color: white
  float: right
  font-size: 3rem
  margin-right: 30rem

.pantry
  width: 40%
  position: absolute

.pantry__form
  border-bottom: .1rem solid gray
  box-shadow: .2rem .2rem .2rem .2rem #95a5a6
  display: inline-block
  margin-top: 2rem
  margin-left: 2rem

.pantry__input
  border: .2px solid $red
  background-color: white
  color: $black
  height: 3rem
  padding: 1rem
  outline: none
  width: 20rem

.pantry__submit
  border: none
  background-color: $red
  color: white
  font-weight: bolder
  height: 3rem
  text-transform: capitalize

.pantry__items
  list-style: none
  font-size: 3rem
  font-weight: bold
  margin: 0
  padding: 0
  text-transform: capitalize
  width: 20rem

.recipe__section

.recipes
  margin-left: 40%
  margin-right: -100%
  position: relative
  width: 25%

.ingredients
  margin-left: 60%
  position: relative
  width: 25%

.recipe__name
  color: $black
  font-size: 1.5rem
  font-weight: bolder
  display: block
  list-style: none
  margin: .3rem

.recipe__img
  height: 8rem
  margin: .5rem
  width: 10rem
  vertical-align: top

.recipe__ingredients
  color: $black
  list-style: none
  margin: .2rem
